body{
	background-color: rgb( 26,32,94 );
	font-family:'Arial';
	padding-left: 75px;
	
}

h1{
	display: inline-block;
	text-align: center;
	color: white;
	margin: 1% 0% 3% 30%; 
	font-size: 44px;
	

}

#favlink{
	display:block;
      color:white;
      background-color:transparent;
      width:180px;
      padding:7px;
      font-size:14px;
      font-weight:bold;
      text-decoration: none;
      text-align:center;
	margin-left:28%;
	margin-bottom: 3%;;
}

#favlink:hover {
      display:block;
      color:#fff;
      background-image:url(../image/Flechten2_crop.jpg);
      }

#zurueck{
	color: white;
	margin-left: 2%;
	text-underline: none;
	text-decoration: none;
}



label{
   display: inline-block;
   	float: left;
    	clear: left;
   	width: 170px;
	color: white;
	margin: 0.5%;
	font-size: 14px;
	vertical_align: text-bottom;
    	text-align: left;
	font-weight: bold;

}

input{
  display: inline-block;
  float: left;
  margin:0.5%;
}

input:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

}

select, textarea{
  display: inline-block;
  float: left;
  margin:1.5% 0.5%;
}

.biggerMargin
{
	display: inline-block;
   	float: left;
    clear: left;
   	width: 170px;
	color: white;
	margin: 1.5% 0.5%;
	font-size: 14px;
    text-align: left;
	font-weight: bold;
}

button{
  float:left;
}

#logo{
	
	float: right;
	margin-right:50px;
	margin-top: 0%;
	
}

p{
	position: absolute;
	
}

.error{
		 border: 3px solid red;
}

form input{
	outline-color: gray;
}