body{
	background-color: rgb( 26,32,94 );
	font-family:'Arial';
	font-weight: bold;
	padding-left: 75px;
}

h1{
	display: inline;
	text-align: center;
	color: white;
	margin-left: 25%;
	font-size: 44px;
	

}

a{
	color: white;
	margin-left: 2%;
	text-underline: none;
	text-decoration: none;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 170px;
	color: white;
	margin: 0.5%;
	font-size: 14px;
	vertical_align: text-bottom;
    text-align: left;
	
}

#labellike{
	display: inline-block;
    float: left;
    clear: left;
    width: 170px;
	color: white;
	
	font-size: 14px;
    	text-indent:2.5em;
	font-weight: bold;
	
}
input, select, textarea{
  display: inline-block;
  float: left;
  margin:1%;
}

button{
  float:left;
}

img{
	
	float: right;
	margin-right:50px;
	margin-top: 0%;
	
}

